<h1>USER PROFILE PAGE</h1>
<p>username: <%= @user.username %></p>
<p>email: <%= @user.email %></p>
<p>pwd: <%= @user.password %></p>
<p>last name: <%= @user.fname %></p>
<p>last name: <%= @user.lname %></p>


<% if session[:user_id] && current_user.id == @user.id %>
	<%= link_to("Wanna edit your profile?", edit_user_path(current_user), method: :get) %><br>
	<%= link_to("Wanna delete your profile?", current_user, method: :delete) %>
<% end %>
