<div id="profile">
	<h1>YOUR PROFILE PAGE</h1>
	<div id="profile_left">
		<%= form_tag("/profile", method: "get") do %>
		<%= text_field "user", "username", placeholder: "username not entered", readonly: true %>
		<%= email_field "user", "email", placeholder: "email not entered", readonly: true %>
		<%= text_field "user", "password", placeholder: "password not entered", readonly: true %>
		<%= text_field "user", "fname", placeholder: "first name not entered", readonly: true %>
		<%= text_field "user", "lname", placeholder: "last name not entered", readonly: true %>
		<% end %>
	</div>

	<div id="profile_right">
		<p align="center">PIC</p>
		<p align="center">WILL GO</p>
		<p align="center">HERE</p>

		<p class="btn"><%= link_to("EDIT PROFILE", edit_user_path(@user.id), method: :get) %></p><br>
		<p class="btn"><%= link_to("DELETE PROFILE", user_path(@user.id), method: :delete) %></p>
	</div>
</div>

<div id="profile_postlist">
	<p><a class="btn" href="/posts/new">CREATE NEW POST</a></p>
	<% @posts.each do |p| %>
	<div id="profile_post">
		<h1 align="center"><%= link_to(p.title, post_path(p.id), method: :get) %></h1>
		<p><%= p.body %></p>
		<p align="right"><%= p.comments.count %> comments | <%= link_to("add a comment", post_path(p.id), method: :get) %></p>
	</div>
	<% end %>
</div>