<div id="profile">
	<h1><%= @user.username %>'S PROFILE PAGE</h1>
	<% if session[:user_id] && current_user.id == @user.id %>
	<p>email: <%= @user.email %></p>
	<p>pwd: <%= @user.password %></p>
	<% end %>
	<p>first name: <%= @user.fname %></p>
	<p>last name: <%= @user.lname %></p>

<% if session[:user_id] && current_user.id == @user.id %>
	<%= link_to("Wanna edit your profile?", edit_user_path(@user.id), method: :get) %><br>
	wanna <%= link_to("DELETE", user_path(@user.id), method: :delete) %> your profile?<br><br>
<% end %>

</div>

<div id="profile_postlist">
	<% @posts.each do |p| %>
	<div id="profile_post">
		<h1 align="center"><%= link_to(p.title, post_path(p.id), method: :get) %></h1>
		<p><%= p.body %></p>
		<p align="right"><%= p.comments.count %> comments | <%= link_to("add a comment", post_path(p.id), method: :get) %></p>
	</div>
	<% end %>
</div>
