<div id="post">
	<h1><%= @post.title %></h1>
	<p align="center">by: <%= @post.user.username %></p>
	<p><%= @post.body %></p>
	<% if session[:user_id] && @post.user_id == current_user.id %>
		<p class="btn"><%= link_to("EDIT POST", post_path(params[:id]), method: :edit) %></p>
		<p class="btn"><%= link_to("DELETE POST", post_path(params[:id]), method: :delete) %></p>
	<% end %>
</div>

<div id="comment_outer">
	<p>comments:</p>
	<div id="comment">
		<% @comments.reverse.each do |c| %>

			<p><%= c.body %></p>
			<p align="right"><%= link_to("DELETE", comment_path(c.id), method: :delete) %></p>
			
		<% end %>
	</div>
</div>

<div id="new_comment_outer">
		<%= form_for @comment do |c| %>
		<%= c.hidden_field :post_id, value: @post.id %>
		<%= c.text_area :body, placeholder: "Comment here", class: "textarea" %><br>
		<%= c.submit :create, value: "comment", class: "btn"  %>
		<% end %>
</div>
