<!DOCTYPE html>
<html>
<head>
  <title>Microblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<h1>COOL BLOG</h1>
 <nav>
 	<ul>
		<% if session[:user_id] %>
	    <li id="homelink"><a href = "/">Home</a></li>
	    <li id="homelink"><a href = "/profile">Profile</a></li>
	    <li id="homelink"><a href = "/users">Users</a></li>
	    <li id="homelink"><a href = "/posts">Posts</a></li>
	    <% else %>
	    <li id="homelink"><a href = "/">Home</a></li>
	    <% end %>
	 	<% if session[:user_id] %> 
	     <li><a href="/logout">Logout</a></li>
	    <% else %>
	     <li><a href="/signup">Sign Up</a></li>
	     <li><a href="/login">Login</a></li>
	    <% end%>
    </ul>
</nav>
</header>
<body>
<% if flash[:notice] %>
	<div class="flash notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="flash alert">
		<%= flash[:alert] %>
	</div>
<% end %>

<div class="container">
  
	<%= yield %>
</div>
</body>
</html>